# Archivos del sistema y del editor
.DS_Store
Thumbs.db
.vscode/
.idea/
redesneu-folder/Include
redesneu-folder/Lib
redesneu-folder/Scripts
redesneu-folder/pyvenv.cfg
*.swp
*.tmp
*.log

# Caches y compilaciones genéricas
__pycache__/
*.pyc
*.pyo
*.bak

# Archivos de compresión o empaquetado
*.zip
*.tar
*.gz
*.7z
