<div class="row">

  <!-- FORMULARIO -->
  <div class="col-md-4 mb-4">
    <div class="card shadow-sm border-0">
      <div class="card-header bg-dark text-white fw-bold">
        Entrenar Nueva Máquina
      </div>

      <div class="card-body">
        <form [formGroup]="machineForm" (ngSubmit)="onSubmit()">

          <!-- NOMBRE -->
          <div class="mb-3">
            <label class="form-label small fw-bold text-secondary">
              Nombre de la Red
            </label>

            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Ej: Letras Z y N"
            >
          </div>

          <!-- DIMS -->
          <div class="mb-3">
            <label class="form-label small fw-bold text-secondary">
              Dimensiones
            </label>

            <input
              type="number"
              formControlName="dims"
              class="form-control"
            >
          </div>

          <!-- TRAINING DATA -->
          <div class="mb-3">
            <label class="form-label small fw-bold text-secondary">
              Datos de Entrenamiento (subir imagen en blanco y negro)
            </label>

            <input type="file" (change)="onFileSelected($event)" class="form-control" accept="image/*">
          </div>

          <canvas #imageCanvas style="display: none;"></canvas>

          <!-- BOTÓN -->
          <button
            type="submit"
            class="btn btn-success w-100"
            [disabled]="machineForm.invalid || loading"
          >
            <span *ngIf="!loading">
              <i class="bi bi-play-fill me-1"></i>
              Entrenar y Guardar
            </span>

            <span *ngIf="loading">
              <span class="spinner-border spinner-border-sm me-2"></span>
              Guardando...
            </span>
          </button>

        </form>
      </div>
    </div>
  </div>

  <!-- TABLA -->
  <div class="col-md-8">

    <div class="card shadow-sm border-0">
      <!-- ERROR -->
      <div
        *ngIf="error"
        class="alert alert-danger m-3"
      >
        Error cargando máquinas.
      </div>

      <!-- TABLA -->
      <div
        class="table-responsive"
        *ngIf="!error"
      >

        <table class="table table-hover align-middle mb-0">

          <thead class="table-light">

            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Dimensiones</th>
              <th class="text-center">Acciones</th>
            </tr>

          </thead>

          <tbody>

            <!-- LOADING -->
            <tr *ngIf="loadingTable">

              <td
                colspan="4"
                class="text-center py-5"
              >

                <div class="spinner-border text-primary mb-2"></div>

                <div class="text-muted">
                  Cargando máquinas...
                </div>

              </td>

            </tr>

            <!-- DATOS -->
            <tr *ngFor="let m of machines">

              <td class="fw-bold">
                #{{ m.id }}
              </td>

              <td>
                {{ m.name }}
              </td>

              <td>
                <span class="badge bg-secondary">
                  {{ m.dims }} neuronas
                </span>
              </td>

              <td class="text-center">

                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteMachine(m.id)"
                >

                  <i class="bi bi-trash"></i>

                </button>

              </td>

            </tr>

            <!-- VACÍO -->
            <tr
              *ngIf="
                !loadingTable &&
                machines.length === 0
              "
            >

              <td
                colspan="4"
                class="text-center text-muted py-4"
              >

                No hay máquinas registradas.

              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>