{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <title>Álbum Mundial 2026</title>
</head>
<body>
    <div class="container">
        
        <div class="container mt-5">
            <div class="card shadow p-4">
                <h2 class="mb-4">Menú de Equipo</h2>
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                            
                            {% if field.help_text %}
                                <small class="text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary">Guardar Equipo</button>
                    <a href="{% url 'team_list' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>

    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>